::ng-deep.mat-dialog-container {
  background: white;
}


.container{
  max-width: 100%;
  margin: 0px;
  border: solid;
  background: ghostwhite;
}
.cont{
  width: 100%;
}

.text{
  justify-items: baseline;
  font-size: 14px;
  font-style: normal;
  color: black;
  margin-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.categoria{
  width: 500px;
}

.content{
  justify-items: baseline;
  font-size: 14px;
  font-style: normal;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 700px;
}

.tableContent{
  max-width: max-content;
}


.content{
  width: 100%;
  display: flex;
  align-items: center;
}

.before{
  width: 64px;
  align-self: stretch;

}

.next{
  width: 64px;
  align-self: stretch;
}

.beforeButton{
  height: 100%;
  text-align: center;
  padding-left: 0px;
}
.nextButton{
  height: 100%;
  text-align: center;
  padding-left: 0px;

}


