<div class="he d-flex align-items-center">
  <b class="h3 text-primary ">Выбор представления данных:</b>
  <mat-form-field class="selectin_sql text-primary">
    <mat-label class="text-primary">Выборки</mat-label>
    <mat-select class="text-primary" placeholder="Выборки" [(ngModel)]="dinamicmodel.mainselectPre" name="sel"
      (selectionChange)="serverInn($event)">
      <mat-option class="text-primary" *ngFor="let sel of dinamicmodel.selectserverPre" [value]="sel">
        {{sel.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<selectsql #TABLETEMPLATE [(logica)]="logica" [(selecting)]="selecting" [(columns)]="columnsPre" [(select)]="select"
  [logicstooltable]="dinamicmodel.mainselectPre.indexsevr==7?LOGICSTOOLTABLE:null" [toolpanel]='TOOLPANEL'></selectsql>

<ng-template class="panel" #TOOLPANEL>

  <div class="d-flex flex-row bd-highlight mb-0 ">
    <div class="p-1 bd-highlight align-self-center divFull">
      <textarea class="mr-2 font areaInn" matInput placeholder="Ввод списка ИНН:" type="text"
        [formControl]="groupValidationTemplateModel.get('Inn')"></textarea>
      <label class="mr-2 lableerror font" *ngIf="groupValidationTemplateModel.get('Inn').invalid">Не соответствует
        ИНН!</label>
      <mat-form-field class="template">
        <mat-label class="text-primary">Выбор шаблона:</mat-label>
        <mat-select class="text-primary" [formControl]="groupValidationTemplateModel.get('Template')"
          [(ngModel)]="selectedTemplate">
          <mat-option class="text-primary" *ngFor="let template of TemplateModel" [value]="template">
            {{template.IdTemplate}}:{{template.NameTemplate}}
          </mat-option>
        </mat-select>
        <div class="lableerror font">
          <mat-error *ngIf="groupValidationTemplateModel.get('Template').invalid">Не выбран шаблон для добавления!
          </mat-error>
        </div>
      </mat-form-field>
    </div>
    <div class="p-1 flex-row bd-highlight mb-0 procent50 card-block">
      "Сообщение с сервера:"
      <ul class="chat">
        <li *ngFor="let message of serverresult" class="right clearfix">
          <div class="chat-body clearfix">
            <p>
              {{ message }}
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mx-md-n5">
    <div class="col px-md-5">
      <button class="mr-2 font btn btn-primary font px-md-5" mat-button (click)="loadinn()"
        [disabled]="groupValidationTemplateModel.invalid">Загрузить ИНН</button>
    </div>
    <!-- <div class="col px-md-5">
      <button class="mr-2 font btn btn-primary font px-md-5" [disabled]="this.isDisableType()" mat-button (click)="checkStatusArrayTree()">Снятие статусов массово!</button>
    </div> -->
  </div>
</ng-template>

<ng-template #LOGICSTOOLTABLE let-row='row'>
  <button mat-icon-button [disabled]="check(row)" color="primary" matTooltip="Проставить статус обработан"
    (click)="checkStatus(row,'Ок!')">
    <i class="material-icons">check</i>
  </button>
  <button mat-icon-button [disabled]="disable(row)" color="primary" matTooltip="Снять статус обработан"
    (click)="checkStatus(row)">
    <i class="material-icons">cancel</i>
  </button>
</ng-template>
