.id-file {
  width: 600px;
  height: 400px;
  margin: 5px;
}
.b{
  margin: 5px;
  background-color: #007bff;
  border-color: #007bff;
}
.add{
 margin: 10px;
 display: grid;
}

.labelError{
width: 600px;
margin: 5px;
color: red;
}

.blockAdd{
  display: flex;
}

.panelbutton{
  background: azure;
  margin: inherit;
  border-radius: 80px;
  margin: 5px;
}

button,
button:active,
button:focus {
  outline: none;
}


.tableContent{
  max-width: max-content;
  margin-bottom: 15px;
}
.serverError{
  height: 400px;
  margin: 5px;
  overflow: auto;
}
table {
  border: groove;
  width: 100%;

}

th, td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th.mat-header-cell{
   text-align: center;
   white-space: pre-wrap;
   padding-left: 5px;
   padding-right: 5px;
   border: groove;
   background: cadetblue;
   font-family: 'Times New Roman';
   font-size: 16px;
   font-weight: bold;
}

.pre{
    color: currentcolor;
    font-size: 22px;
    font-style: italic;
}


td.mat-cell{

  text-align: left;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  border: groove;
  background: darkkhaki;
  font-family: 'Times New Roman';
 font-size: 13px;
 font-weight: bold;
}
